.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .input-field {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      margin-bottom: 10px;
      font-weight: 600;
    }

    input {
      max-width: 95%;
      padding: 5px 10px;
      border: 1px solid var(--borderColor);
      border-radius: 5px;
    }
  }
}
