.button-group {
  display: flex;
  > button {
    width: 80px;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    color: var(--bgColor);
    background-color: var(--baseColor);
  }
}
